CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1OrjjpLpSSVtW50ltIQEAP8z
# Este es el signing secret del webhook
# stripe listen --forward-to http://localhost:3003/payments/webhook
# STRIPE_ENDPOINT_SECRET=http://localhost:3003/payments/webhook

# produccion - no poner en este archivo, ver el notion de donde lo saque
STRIPE_ENDPOINT_SECRET=

JWT_SECRET=Estoesunstringseguroquedebedeexistir
